apiKey: API_KEY
secretKey: SECRET_KEY
intervalSec: 5
symbol: BNBUSDT
lowerPrice: 100
upperPrice: 200
grids: 10
gridSL: 0
gridTP: 1
slippage: 0.001
qty: 0.1
view: NEUTRAL | LONG | SHORT
triggerPrice: 150
maTimeframe: 1h
maPeriod: 20
