apiKey: API_KEY
secretKey: SECRET_KEY

dbName: autotp.db
botID: 1
intervalSec: 5
symbol: BNBUSDT
digits: 2
view: NEUTRAL | LONG | SHORT
qty: 0.1
slippage: 0

lowerPrice: 100
upperPrice: 200
gridSize: 10
gridTP: 1
followTrend: false
openAllZones: false

maTimeframe: 1h
maPeriod: 20
autoSL: false
autoTP: true
